.box {
  border: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  padding: 50px;
  margin: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}