.digital-clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./src/assets/windows.jpg') no-repeat center center fixed;
    background-size: cover;
}

.clock {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}